.App {
  display: flex;
  flex-flow: column wrap;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1 {
  color: aliceblue;
  font-size: 70px;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

h2 {
  color: rgb(77, 160, 185);
  font-size: 70px;
}

.planet-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.planet-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-planet {
  width: 410px;
}

.planet-name {
  background-color: rgba(28, 27, 83, 0.815);
  color: aquamarine;
  font-size: 30px;
  height: 50px;
  text-align: center;
  width: 200px;
}

.missions-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.mission-card {
  align-items: center;
  background: url('https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA21086.width-1440.jpg');
  background-size: auto;
  border-radius: 15px;
  box-shadow: 2px 3px rgb(150, 128, 156);
  display: flex;
  flex-direction: column;
  height: 240px;
  justify-content: center;
  margin: 0 10px 15px 0;
  width: 180px;
}

.mission-card p {
  color: aliceblue;
  display: flex;
  font-size: 18px;
  justify-items: center;
  text-align: center;
}
